<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>数聚客</title>
    <link href="../../libs/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href='../../css/main.css' rel='stylesheet' type='text/css' />
    <link href='../../css/select2.css' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="../../css/jquery-ui.css" />
    <link rel="stylesheet" href="../../css/jquery.multiselect.css" type="text/css"/>
    <link href='../../libs/switch/honeySwitch.css' rel='stylesheet' type='text/css' />
    <link href='../../libs/fonts/iconfont.css' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="../../libs/xcConfirm/css/xcConfirm.css"/>
    <link href='../../css/chosen.css' rel='stylesheet' type='text/css' />
    <link rel="icon" href="../../../favicon.ico" type="image/x-icon">
     <link href='../../css/setting/datapermission.css' rel='stylesheet' type='text/css' />
</head>
<body>
<!-- menu -->
<div class="menu"></div>
<!-- menu end  -->
<div id="page-wrapper">
    <!-- top -->
    <div id="top">
        <my-top></my-top>
    </div>
    <!-- top end -->
        <div class="row topTitle firstTopTitle">
            <div class="col-md-12 clearfix">
                    <h2 class="fl">
                       <a href="javascript:;"><i class="shu"></i>数据管理</a>
                    </h2>

                </div>
            </div>
        <div id="page-inner">
            <!-- 表格区域 -->
            <div class="tab-content">
                <div class="row tab-pane fade active in" id="shortmessage">
                    <div class="col-md-12">
                        <table class="table table-striped outerTable" id="datapermissionList">
                            <thead>
                         <!--    <tr>
                                <th>字段名称</th>
                                <th>属性值</th>
                                <th class="textcenter">操作</th>
                            </tr> -->
                            </thead>
                            <tbody>
                            <!-- <tr>
                                <td>所在群组</td>
                                <td>多选</td>
                                <td class="caozuo">
                                    <input type="checkbox" name="" id=""><label for="">隐藏</label>
                                    <span onclick="setDateVal()" class="pointer"><i class="icon icon-shezhi seticon"></i>设置字段值</span>
                                </td>
                            </tr>
 -->
                            </tbody>
                        </table>
                        <div class="fr">
                            <div id="datapermissionListpage"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btnGroup">
                <a href="javascript:;" class="cancel btn btn-default cancelPropup" onclick="returnback()">取消</a>
                <a href="javascript:;" class="save btn btn-primary disabledSingle" onclick="allsave()">保存</a>
            </div>
        </div>
    </div>

<div class="bg"></div>
<!-- 新建客户属性 -->
<div class="modelContent" id="setDate">
    <div class="MotalTit"><i >设置字段值</i><span class="close">&times;</span></div>
    <div class="contentInfo">
        <a id="" name="6" href="#6">&nbsp;</a>
        <div class="PopupCont clearfix">
            <div class="provinceDiv"></div>
            <dl>
                <dt id="dataKey"></dt>
                <dd id="dataselect">
                   <!--  <select  id="dataVal" >
                    </select> -->

                <!--     <select name="" id="dataVal"  class="selectpicker show-tick" multiple="multiple">
                        <option value="11">11</option>
                        <option value="22">22</option>
                    </select> -->
                  <!--   <select data-placeholder="请选择" id="dataVal"  multiple style="width:244px;height: 38px;" tabindex="4">

                      </select> -->
                </dd>
            </dl>
        </div>

        <div class="footerBtn">
            <div class="btn btn-dcrm fr cancelBtn modalBtn" >取消</div>
            <div class="btn btn-dcrm fr saveBtn modalBtn" onclick="addsure()" >保存</div>
        </div>
    </div>
</div>

<script src="../../js/jquery-2.2.3.min.js"></script>
<script src="../../libs/bootstrap/bootstrap.min.js"></script>
<script src="../../js/vue.js"></script>
<script src="../../js/jquery.cookie.js"></script>
<script src="../../js/common.js"></script>
<script src="../../js/main.js"></script>
<script src="../../js/jquery-ui.min.js"></script>
<script src="../../js/select2.js"></script>
<script src="../../js/paging.js"></script>
<script src="../../js/jquery.multiselect.js"></script>
<script src="../../js/highlight.js"></script>
<script type="text/javascript" src="../../libs/xcConfirm/xcConfirm.js"></script>
<script src="../../js/setting/setting.js"></script>
<script src="../../js/setting/datapermission/datapermission.js"></script>
</body>
<script>

</script>
</html>