<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>数聚客</title>
    <link href="../../libs/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href='../../css/main.css' rel='stylesheet' type='text/css' />
    <link href='../../libs/fonts/iconfont.css' rel='stylesheet' type='text/css' />
   <link href='../../libs/switch/honeySwitch.css' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="../../libs/xcConfirm/css/xcConfirm.css"/>
    <link rel="icon" href="../../../favicon.ico" type="image/x-icon">
</head>
<body>
<!-- menu -->
<div class="menu"></div>
<!-- menu end  -->
<div id="page-wrapper">
    <!-- top -->
    <div id="top">
        <my-top></my-top>
    </div>
    <!-- top end -->
        <div class="row topTitle firstTopTitle">
            <div class="col-md-12 clearfix">
                    <h2 class="fl">
                       <a href="javascript:;"><i class="shu"></i><a href="/view/setting/setting.html">系统设置</a> / 客户来源</a>
                    </h2>
                    <a href="javascript:;" module="custSource" permission-code="ADD" class="btn fr rightAdd" onclick="addCusSource()">+新建来源</a>
                </div>
            </div>
        <div id="page-inner">
            <!-- 表格区域 -->
            <div class="tab-content">
                <div class="row tab-pane fade active in" id="shortmessage">
                    <div class="col-md-12">
                        <table class="table table-striped outerTable" id="cusSourceList">
                            <thead>
                            <tr>
                                <th>来源</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <!-- <td>微信公众号</td>
                                <td>
                                    <a href="javascript:;" class="badBtn tbBtn" onclick="isUseSource()">禁用</a>
                                    <a href="javascript:;" class="disabledBtn tbBtn" onclick='editSource()'>编辑</a>
                                    <a href="javascript:;" class="goodBtn tbBtn" onclick="delSource()">删除</a>
                                </td> -->
                            </tr>
                            </tbody>
                        </table>
                        <div class="fr">
                            <div id="cusSourceListpage"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="bg"></div>
<!-- 新建客户来源 -->
<div class="modelContent" id="addCusSource">
    <div class="MotalTit"><i >新建来源</i><span class="close">&times;</span></div>
    <div class="contentInfo">
        <a id="" name="6" href="#6">&nbsp;</a>
        <div class="PopupCont clearfix">
            <dl>
                <dt>来源名称:</dt>
                <dd><input type="text" id="custFromAdd"></dd>
            </dl>
        </div>

        <div class="footerBtn">
            <div class="btn btn-dcrm fr cancelBtn modalBtn" module="custSource" permission-code="ADD">取消</div>
            <div class="btn btn-dcrm fr saveBtn modalBtn" onclick="addsure()" module="custSource" permission-code="ADD">保存</div>
        </div>
    </div>
</div>

<!-- 编辑客户来源 -->
<div class="modelContent" id="editSusSource">
    <div class="MotalTit"><i >编辑来源</i><span class="close">&times;</span></div>
    <div class="contentInfo">
        <a id="" name="6" href="#6">&nbsp;</a>
        <div class="PopupCont clearfix">
            <dl>
                <dt>来源名称:</dt>
                <dd><input type="text" id="custFromEdit"></dd>
            </dl>
        </div>

        <div class="footerBtn">
            <div class="btn btn-dcrm fr cancelBtn modalBtn" module="custSource" permission-code="UPDATE" >取消</div>
            <div class="btn btn-dcrm fr saveBtn modalBtn editSure" module="custSource" permission-code="UPDATE">保存</div>
        </div>
    </div>
</div>
<script src="../../js/jquery-2.2.3.min.js"></script>
<script src="../../libs/bootstrap/bootstrap.min.js"></script>
<script src="../../js/vue.js"></script>
<script src="../../js/jquery.cookie.js"></script>
<script src="../../js/common.js"></script>
<script src="../../js/main.js"></script>
<script src="../../js/paging.js"></script>
<script type="text/javascript" src="../../libs/xcConfirm/xcConfirm.js"></script>
<script src="../../js/setting/setting.js"></script>
<script src="../../js/setting/portrait/customerSource.js"></script>
</body>
</html>