<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title></title>
    <style>
        *{padding:0;margin:0}
        body{background-color: #fff;font-family: "Microsoft YaHei","微软雅黑","SimSun","宋体";color: #6a778f;max-width: 640px;margin: auto;}
    </style>
</head>
<body>
<div id="sexChart" style="height:330px"></div>
<div id="ageChart" style="height:300px"></div>
<div id="marriageChart" style="height:300px"></div>
<div id="mapChart" style="height:300px"></div>
<div id="salestageChart" style="height:300px"></div>
<div id="cuscanalChart" style="height:300px"></div>
<div id="levelChart" style="height:300px"></div>
<div id="sourceChart" style="height:420px"></div>
<script src="../js/jquery-2.2.3.min.js"></script>
<script src="../js/echarts.min.js"></script>
<script src="../libs/highcharts/highcharts.js"></script>
<script src="../js/china.js"></script>
<script src="../js/jquery.cookie.js"></script>
<script src="../js/customer/personanaly.js"></script>
</body>
</html>