html,body{width:100%;height:100%;}
body {background:none;}
a{text-decoration: none;}
.paddingL5{padding-left:5px !important;}
.index-box{position: absolute;left: 50%;top: 50%;z-index:2146999999;/* transform: translateX(-50%) translateY(-70%); */
margin-left:-176px;margin-top:-225px;}

.pass-cont{height:100%;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;
}
.pass-box {height: 100%;}

.loginbox{width:352px;margin:0 auto;overflow:hidden;}
.loginbox img{display: block;margin:0 auto 40px;}
.login-form{position: relative;}
.login-form .login-form-bg{width:360px; height:150px; -webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px;
background:none;filter: alpha(opacity:12);opacity: 0.12;}
.login-form ul{width:360px;padding-top:3px;position:absolute;left:0;top:0;}
.login-form ul li{ margin:5px auto;}
.login-form ul li input{padding-left:8px;margin-top:12px;margin-bottom:12px;text-indent:10px;width:342px; height:40px;line-height:24px; border:1px solid transparent; color: #fff;border-radius: 20px;background: rgb(26, 42, 71);}


.login-form ul li input::-webkit-input-placeholder{color: #818691;}
.login-form ul li label{margin:-2px 0 0 20px;display: block;font-size: 12px;color: #7f8590}
.login-form ul li input:-moz-placeholder {color:#818691;}
.login-form ul li input::-moz-placeholder {color:#818691;}
.login-form ul li input:-ms-input-placeholder {color:#818691;}

.free-30days{color: #fff; margin:36px 0 0 0;}
.free-30days input{margin:-3px 5px 0 21px; vertical-align:middle;}
.regnow{float:right; margin-right:25px;}
.regnow a{color:#fff;}
.regnow a:hover{text-decoration:underline;}
.b_btn{
	margin-top:25px;
	}
#free-30days{
	background: #415087;
}
.login-btn{
	width:350px;
	height:40px;
	background-color: #5762b0;
	border-radius:20px;
}
.login-btn:hover{
	background-color: #606cbf;
}
.login-btn a{
	display:block;
	width:350px;
	height:40px;
	line-height:40px;
	text-align:center;
	color:#fff;
	font-size:16px;
}
.reg_btn{
	border:1px solid #46D8C3;
	border-radius:3px;
	width:124px;
	height:40px;
	border-radius:4px;
	margin-right:37px;
}
.reg_btn a{display:block; width:124px; height:41px; line-height:41px; text-align:center; color:#46D8C3; font-size:16px;margin:0 0 0 0;
 -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; }

.footer-line{
	width: 700px;
	height: 1px;
	background-color: rgba(72,78,108,0.5);
	margin:20px auto 18px;
}

#footer{
	width: 100%;
	position: fixed;
	bottom:35px;
}
#footer p{
	text-align: center;
	color: #c2c6d6;
	font-size: 12px;
}
#footer .footer-last{
	color: #505775;
	font-size: 12px;
}

.footer-line{
	width: 700px;
	height: 1px;
	background-color: rgba(72,78,108,0.5);
	margin:20px auto 18px;
}

/*×¢ï¿½ï¿½*/
.pr{position: relative;}
.D-cont.D-cont-r{}
.reg-bigbox{width:100%;position: absolute;left:0;top:0;}
.reg-bigbox input, .reg-bigbox button{background: none;color:#fff}
.reg-box{margin:0 auto; width:370px;-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}
.reg-box-tit{height:50px;line-height:50px;text-align: center;position: relative;}
.reg-box-tit h3{font-size:18px;color:#fff;letter-spacing:5px}
.reg-box-tit a{display:block;width:56px;height:56px;-webkit-border-radius:28px; -moz-border-radius:28px;
border-radius:28px;position: absolute;right:-130px;top:-10px;font-size:30px;color:#fff;background: #82e8dd}
.reg-box .reg-cont{width:360px;margin:auto;}
.reg-box .reg-cont .reg-namep{margin-top:20px}
.reg-box .reg-cont .reg-namep li{height:50px;background: url('../images/pwd_icon.png') no-repeat 0 15px;}
.reg-box .reg-cont .reg-namep li.reg-mobile{background: url('../images/mobile_icon.png') no-repeat 0 15px}
.reg-box .reg-cont .reg-namep input{width: 330px;height:26px;line-height:26px;border:none;margin:12px 0 0 25px;
padding: 0 5px;filter: alpha(opacity:50);opacity: 0.50;border-bottom:solid 1px #fff;padding-bottom:12px;}
/*.reg-box .reg-cont .reg-namep input::-webkit-input-placeholder{color: #fff;}
.reg-box .reg-cont .reg-namep input:-moz-placeholder {color:#fff;}
.reg-box .reg-cont .reg-namep input::-moz-placeholder {color:#fff;}
.reg-box .reg-cont .reg-namep input:-ms-input-placeholder {color:#fff;}*/
.reg-remind{height:26px;line-height:24px;padding:0 5px;text-align: center;font-size:14px;margin-top:40px;}
.reg-remind .reg-remind-bg{height:26px;width:100%;background:#fff;filter: alpha(opacity:20);opacity: 0.2;position: absolute;left:0;top:0;-webkit-border-radius:13px; -moz-border-radius:13px; border-radius:13px;}
.reg-remind .reg-remind-txt{color:#fff;}
.reg-info{width:100%}
.reg-info .input-groups{height:32px;line-height:32px;margin-top:14px;*zoom: 1; position:relative}
.input-groups:before,
.input-groups:after { display:block; content: ""; height: 0; }
.input-groups:after { clear: both; }
.reg-info .input-groups label{float:left;width:110px;margin-right:20px;color:#fff;}
.reg-info .input-groups input{
		width:228px;
		height:32px;
		color:#fff ! important;
		float:left;
		line-height: 30px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		border: solid 1px #8097e1;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		padding: 0;
		cursor: pointer;
}
.reg-info .input-groups select{
		width:228px;
		height:32px;
		background: url("../images/points-r.png") no-repeat scroll right transparent;
		color:#fff ! important;
		float:left;
		line-height: 30px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		border: solid 1px #8097e1;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		padding: 0;
		cursor: pointer;
}

.reg-btn{width:100%;height:36px;margin-top:26px;}
.reg-btn a{display:block;float:right;width:100px; height:36px;-webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;background:#1bd5c1;text-align: center;line-height: 36px;color: #fff;}
.reg-info .ui-state-default{border: solid 1px #8097e1;}
.dropdown-menu{position: absolute;background:#fff;border-bottom:none;width:228px;
box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-webkit-border-radius:2px;
-moz-border-radius:2px; border-radius:2px;}
.dropdown-menu li{height:32px;line-height: 32px;border:solid 1px #dadada;border-top:none;padding:0 5px;overflow: hidden;}
.dropdown-menu li.active{background: #dadada}
.reg-info .ui-multiselect {margin-top: 0;}
.reg-info #city_ms,
.reg-info #path_ms,
.reg-info #houses_ms{width: 225px;height:30px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.reg-info #city_ms span,
.reg-info #path_ms span,
.reg-info #houses_ms span{color:#fff;}
.reg-info .ui-icon{background-image: url("../images/points-r.png");}
.reg-info .ui-state-hover .ui-icon {background-image: url("../images/points-r.png");}

/*È·ï¿½ï¿½ï¿½Ò»ï¿½ï¿½ï¿½ï¿½ï¿½*/

.r_content{
	width:360px;
	height:100%;
	margin:0 auto;
	position:absolute;
	overflow:hidden;
}
.r_content .r_exit{
	position:absolute;
	width:54px;
	height:54px;
	background-color:#82E8DD;
	text-align:center;
	line-height:54px;
	top:34px;
	right:0;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;

}
.r_content .r_exit a{
	color:#fff;
	font-size:30px;
}
.r_content .val_content{
	width:100%;
	height:480px;
	position:absolute;
	top:50%;
	margin-top:-240px;
	overflow:hidden;
}
.val_content h3{
	text-align:center;
	color:#fff;
	margin-top:20px;
	font-size:16px;

}
.val_content .r_info{
	margin-top:120px;
	text-align:center;
}
.r_info .r_phone{
	background: url('../images/mobile_icon.png') no-repeat 0 15px;
	padding-left:11px;
}
.r_info .r_lock{
    background: url('../images/pwd_icon.png') no-repeat 0 15px;
    padding-left:11px;
}

.r_info .r_phone input,.r_info .r_lock input{
	outline:none;
	border:none;
	height:50px;
	line-height:50px;
	background-color:transparent;
	margin-left:10px;
	border-bottom:1px solid #A5B1EB;
	width:332px;
	color:rgba(255,255,255,.5);
}


.r_btn{
	width:99px;
	height:36px;
	background-color:#1BD5C0;
	margin-top:142px;
	margin-left:120px;
	line-height:36px;
	border-radius:2px;

}
.r_btn a{
	color:#FFF;
}
/*ï¿½Ò»ï¿½ï¿½ï¿½ï¿½ï¿½*/
.r_info .r_phone .test{
	width:203px;
	margin-right:26px;
}
.r_info .r_phone .g_btn{
	width:98px;
	height:34px;
	border:1px solid #1AD5C0;
	line-height:34px;
	color:#1AD5C0;
	margin-top:15px;
	font-style:normal;
	border-radius:2px;
}

/*忘记密码*/
.repass .g_btn{
    width: 120px;
    height: 40px;
    border: 1px solid rgba(255,255,255,.3);
    border-radius: 20px;
    display: inline-block;
    margin-top: 12px;
    margin-bottom: 12px;
    text-align: center;
    line-height: 40px;
    margin-left: 28px;
    cursor: pointer;
    text-indent: -5px;
}

#passPhone{
	width: 194px;
}
.tips{
	text-align: center;
    margin: 15px;
    color: white;
    font-size: 12px;
}
.tips a{
	color: #a6b1fb;
}

.pass-btn{
	width:350px;
	height:40px;
	background-color:#5762b0;
	border-radius:20px;}
.pass-btn a{
	display:block;
	width:350px;
	height:40px;
	line-height:40px;
	text-align:center;
	color:#fff;
	font-size:16px;
}
.repass-box{
	width: 440px;
    height: 300px;
   /* background: rgba(255,255,255,.1);*/
    position: absolute;
    left: -40px;
    top: 95px;
    z-index: -1;
    margin-top: 10px;
/*    border-radius: 10px;*/
}
.repass-title{
	text-align: center;
	height: 30px;
	line-height: 30px;
	background: rgba(0,0,0,.2);
}
.repass-form{
	top:25px;
}

.repass-btn{
	margin-top: 66px;
}
.login-user em{
	display: block;
	background: rgba(255,255,255,.1);
}
/*.apass-box{
	transform: translateX(-50%) translateY(-63%);
}*/
.qrcodeBox{width:180px;background: #44d2ce;border-radius:5px;position:absolute;top:24px;right:24px;padding:10px;box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;cursor: pointer;}
.qrcodeA{background: url("../images/qrcodeA.png") no-repeat;width:70px;float:left;padding-left:38px;}
.qrcodeA p{color: #fff;text-align: center;font-size: 12px;}
.qrcodeS{width:28px;float:right;border-left:1px solid #6cd7d3;padding-left:8px;}
.qrcode{width:90px;height:110px;background: #fff;padding:5px;position:absolute;top:50px;right:0;display: none}
.qrcode img{width:90px; height:90px;}
.qrcode p{font-size: 12px;text-align: center;}

.iconGroup{
	position: relative;
}

.loginIcon{
    position: absolute;
    left: 318px;
    top: 36px;
    color: #7f8590;
    font-size: 20px!important;
 }

.xcConfirm .popBox {
	margin-left: -200px;
}
#AgreementBox.xcConfirm .popBox .txtBox p {
    font-size: 16px;
    height: 130px;
    padding-top: 20px;
    margin: 0 24px;
}
#AgreementBox.xcConfirm .popBox .txtBox p a {
    font-size: 16px;
    color: #7381c6;
}
#AgreementBox.xcConfirm .popBox .btnArea,
#AgreementDet.xcConfirm .popBox .btnArea {
    border-top: transparent;
}
#AgreementBox.xcConfirm .popBox {
    left: 50%;
    top: 50%;
    background-color: #000d21;
    width: 400px;
    height: 270px;
    margin-left: -202px;
    margin-top: -137px;
    border-radius: 15px;
    font-weight: normal;
    color: #fff;
    border:2px solid #808690;
}
#AgreementBox.xcConfirm .popBox .sgBtn {
    width: 190px;
}
#AgreementBox.xcConfirm .xc_layer {
    background-color: #000d21;
    opacity: 0.95;
}



#AgreementDet.xcConfirm .popBox {
    left: 50%;
    top: 50%;
    background-color: #000d21;
    width: 600px;
    height: 720px;
    margin-left: -300px;
    margin-top: -360px;
    border-radius: 15px;
    font-weight: normal;
    color: #fff;
    border:2px solid #808690;
}
#AgreementDet.xcConfirm .popBox .txtBox {
    margin: 10px 10px 10px 20px;
}
#AgreementDet h2{text-align: center;font-weight: bold;font-size: 18px;line-height:38px;color: #fff;margin-bottom: 10px;}
#AgreementDet .agreebox{height: 565px;overflow-y: scroll;font-size: 16px;}
#AgreementDet .agreebox dt{margin-bottom:5px;}
#AgreementDet .agreebox dd{margin-bottom: 20px;}
#AgreementDet.xcConfirm .popBox .sgBtn {
    width: 105px;
}
/***********滚动条***********/
#AgreementDet .agreebox::-webkit-scrollbar{width: 14px;height: 14px;}
#AgreementDet .agreebox::-webkit-scrollbar-track,
#AgreementDet .agreebox::-webkit-scrollbar-thumb{border-radius: 999px;border: 5px solid transparent;}
#AgreementDet .agreebox::-webkit-scrollbar-track{box-shadow: 1px 1px 5px rgba(130,149,206,1.0) inset;  }
#AgreementDet .agreebox::-webkit-scrollbar-thumb{min-height: 20px;background-clip: content-box;box-shadow: 0 0 0 5px rgba(130,149,206,1.0) inset;}
#AgreementDet .agreebox::-webkit-scrollbar-corner{background: transparent;}
/***********滚动条  end***********/








