<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>数聚客</title>
    <link rel="icon" href="../../../favicon.ico" type="image/x-icon">
</head>
<body>
<div id="recharge_sureBox"></div>
<script src="../../js/jquery-2.2.3.min.js"></script>
<script src="../../js/jquery.cookie.js"></script>
<!-- <script src="../../js/Finance/Finance/list.js"></script> -->
<script>
	var payInfo = $.cookie("payInfo");
	console.log(payInfo);
	$("#recharge_sureBox").html(payInfo);
</script>
</body>
</html>
