<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>数聚客</title>
    <link href="../../libs/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href='../../css/main.css' rel='stylesheet' type='text/css' />
    <link href='../../css/setting/setting.css' rel='stylesheet' type='text/css' />
    <link href='../../libs/fonts/iconfont.css' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="../../libs/xcConfirm/css/xcConfirm.css"/>
    <link rel="icon" href="../../../favicon.ico" type="image/x-icon">
</head>
<body>
<!-- menu -->
<div class="menu"></div>
<!-- menu end  -->
<div id="page-wrapper">
    <!-- top -->
    <div id="top">
        <my-top></my-top>
    </div>
    <!-- top end -->
        <div class="row topTitle firstTopTitle">
            <div class="col-md-12 clearfix">
                    <h2 class="fl">
                       <a href="javascript:;"><i class="shu"></i>微信设置</a>
                    </h2>
                    <a href="javascript:;" class="btn fr rightAdd" onclick="addContentTag()">+绑定微信号</a>
                </div>
            </div>
        <div id="page-inner">


            <!-- 表格区域 -->

            <div class="tab-content">
                <div class="row tab-pane fade active in" id="shortmessage">
                    <div class="col-md-12">
                    <div class="tips">微信群群发营销内容时，系统需要得到您的授权，请绑定微信号完成授权。</div>
                        <table class="table table-striped" id="">
                            <thead>
                            <tr>
                                <th>微信号</th>
                                <th>绑定时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>12345</td>
                                <td>2017-5-23</td>
                                <td><a href="javascript:;" class="badBtn" onclick="isRelieve()">解除绑定</a><i>&ensp;&ensp;</i><a href="javascript:;" class="disabledBtn" onclick='editWeixin()'>编辑</a><i>&ensp;&ensp;</i><a href="javascript:;" class="goodBtn" onclick="delWeixin()">删除</a></td>
                            </tr>

                            </tbody>
                        </table>
                        <div class="fr">
                            <div id="groupListpage"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="bg"></div>
<!-- 新建内容标签 -->
<div class="modelContent" id="addContentTag">
    <div class="MotalTit"><i >绑定微信号</i><span class="close">&times;</span></div>
    <div class="contentInfo">
        <a id="" name="6" href="#6">&nbsp</a>
        <div class="PopupCont clearfix">
            <dl>
                <dt>微信号:</dt>
                <dd><input type="text"></dd>
            </dl>
            <dl>
                <dt>密码:</dt>
                <dd><input type="text"></dd>
            </dl>

        </div>

        <div class="footerBtn">
            <div class="btn btn-dcrm fr cancelBtn modalBtn" >取消</div>
            <div class="btn btn-dcrm fr saveBtn modalBtn" >绑定</div>
        </div>
    </div>
</div>

<!-- 编辑内容标签 -->
<div class="modelContent" id="addContentTag">
    <div class="MotalTit"><i >编辑微信号</i><span class="close">&times;</span></div>
    <div class="contentInfo">
        <a id="" name="6" href="#6">&nbsp</a>
        <div class="PopupCont clearfix">
            <dl>
                <dt>微信号:</dt>
                <dd><input type="text"></dd>
            </dl>
            <dl>
                <dt>密码:</dt>
                <dd><input type="text"></dd>
            </dl>

        </div>

        <div class="footerBtn">
            <div class="btn btn-dcrm fr cancelBtn modalBtn" >取消</div>
            <div class="btn btn-dcrm fr saveBtn modalBtn" >绑定</div>
        </div>
    </div>
</div>
<script src="../../js/jquery-2.2.3.min.js"></script>
<script src="../../libs/bootstrap/bootstrap.min.js"></script>
<script src="../../js/vue.js"></script>
<script src="../../js/jquery.cookie.js"></script>
<script src="../../js/common.js"></script>
<script src="../../js/main.js"></script>
<script type="text/javascript" src="../../libs/xcConfirm/xcConfirm.js"></script>
<script src="../../js/setting/setting.js"></script>
</body>
</html>